@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --peru: #c8102E;

  --white: #fff;

  --black: #000;
}

h1, h2 {
  font-family: 'Bigshot One', cursive;
}

h3, h4, h5, h6, li, button {
  font-family: 'merienda', cursive;
}

li {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 25px;
  position: relative;
  color: var(--black);
  max-width: 1200px;
}

/* BODY */


body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* MENU */


.logo {
  height: 5%;
  width: 5%;
}

nav#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

nav#menu .menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--white);
  cursor: pointer;
}

nav#menu ul {
  display: flex;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#menu ul li a {
  position: relative;
  color: var(--peru);
  font-weight: bold;
  transition: color 0.8s ease;
  padding-bottom: 5px;
}

nav#menu ul li a:hover {
  color: var(--black);
}

/* START */


.start {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.start video {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.start-text {
  color: var(--white);
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 900px;
  mix-blend-mode: exclusion;
}

.start h1 {
  font-size: 28vh;
}


/* INFO */


.info {
  width: 60%;
  max-width: 1200px;
  margin: 25px auto;
}

.info-text {
  text-align: center;
}

.info span {
  font-family: merienda, cursive;
  color: var(--peru);
  font-size: 36px;
  margin: 3px;
}

.img-cont {
  position: relative;
  width: 100%;
}

.img-cont img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.info-text figure {
  width: 100%;
  text-align: center;
}

.back-black {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  border-radius: 0px 30px 30px 0px;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.back-black h3 {
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--peru);
}

.back-black p {
  font-size: 14px;
  line-height: 1.5;
  color: white;
  width: auto;
  margin-bottom: 15px;
  text-align: left;
}

.boton {
  display: inline-block;
  padding: 10px 30px;
  margin: 20px 0;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  border: var(--peru) 3px solid;
  border-radius: 15px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
}

.boton:hover {
  transform: translateY(-5px);
  background-color: var(--peru);
  border: var(--peru) 3px solid;
}


/* TURISMO */


.turismo-cont {
  width: 70%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px 0;
}

.img-grid {
  display: grid;
  position: relative;
  overflow: hidden;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  width: 75%;
  margin: 25px auto;
  border-radius: 10px;
}

.img-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.img-grid .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.img-grid:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.img-grid:hover .overlay {
  opacity: 1;
  color: var(--white);
  font-size: 25px;
  visibility: visible;
}

.boton-overlay {
  display: inline-block;
  padding: 10px 40px;
  margin: 20px 0;
  color: var(--white);
  background-color: transparent;
  border: var(--white) 3px solid;
  border-radius: 20px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
}

.boton-overlay:hover {
  transform: translateY(-5px);
  background-color: var(--peru);
  border: var(--peru) 3px solid;
}


/* GASTRONOMIA */


.gastronomia-cont {
  width: 70%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px 0;
}

.comida-grid {
  z-index: 2;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 30px;
}

.comida-card {
  background: var(--peru);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.comida-card:hover {
  transform: translateY(-10px);
}

.comida-image {
  height: 200px;
  overflow: hidden;
}

.comida-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.comida-card:hover .comida-image img {
  transform: scale(1.2);
}

.comida-info {
  padding: 20px;
}

.comida-title {
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--white);
}

.comida-info p {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--white);
}


/* NATURALEZA */


/* CONTACT */


/* PARALLAX */

figure.parallax {
  overflow: hidden;
  height: 100%;
  margin: 0;
  position: fixed;
  z-index: -1;
}