@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --peru: #c8102E;

  --white: #fff;

  --black: #000;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
}

h3, h4, h5, h6, li, button {
  font-family: 'merienda', cursive;
}

li {
  font-size: 1rem;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
  color: var(--black);
  max-width: 1200px;
}


/* BODY */


body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* MENU */


.logo {
  height: 5%;
  width: 5%;
}

nav#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

nav#menu .menu-toggle {
  display: none;
  font-size: 2em;
  color: var(--white);
  cursor: pointer;
}

nav#menu ul {
  display: flex;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#menu ul li a {
  position: relative;
  color: var(--peru);
  font-weight: bold;
  transition: color 0.8s ease;
  padding-bottom: 5px;
}

nav#menu ul li a:hover {
  color: var(--black);
}

nav#menu a img {
  height: 50px;
  width: auto;
}


/* START */


.start {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.start img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.start-text {
  display: flex;
  color: var(--white);
  z-index: 1;
  display: flex;
  text-align: left;
  align-items: center;
  max-width: 900px;
  mix-blend-mode: exclusion;
}

.start h1 {
  font-size: 25vh;
}


/* CÓMO LLEGAR */


.ubi {
  width: 80%;
  max-width: 1200px;
  margin: 2.5em auto;
  margin-bottom: 5em;
}

.ubi h2 {
  margin: 3em 0 0 0;
}

.ubi-image img {
  width: 70%;
  height: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.541);
}

.ubi-image figure {
  width: 100%;
  display: flex;
  justify-content: center;
}

.texto {
  padding: 1.5em 11em;
}

.texto h3 {
  color: var(--peru);
  font-size: 1.7em;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.texto p {
  font-size: 1em;
}


/* FOOTER */


.footer {
  background-color: var(--peru);
  color: var(--white);
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: var(--white);
}

.text-logo {
  display: block;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.text-logo h4 {
  font-size: 1.5em;
}

.text-logo:hover {
  transform: scale(1.07);
}

.footer-logo img {
  width: 7.5em;
  height: auto;
}

.footer-logo {
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
}

.footer-info {
  text-align: center;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--white);
}

.footer-info ul li {
  margin-bottom: 8px;
  font-size: 14px;
  display: block;
  transition: transform 0.3s ease;
}

.footer-info ul li:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.footer-info p {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer a:link,
.footer a:visited {
  color: var(--white);
  text-decoration: none;
}

.footer a:hover {
  color: var(--white);
  transition: 0.3s ease;
}

.social-icons i {
  font-size: 18px;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.2);
}

.copy {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}


/* PARALLAX */


.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("MEDIA/IMG/Peru.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -10;
  opacity: 8%;
}

