@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --peru: #c8102E;

  --white: #fff;

  --black: #000;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
}

h3, h4, h5, h6, li, button {
  font-family: 'merienda', cursive;
}

li {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
  position: relative;
  color: var(--black);
  max-width: 1200px;
}

/* BODY */


body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* MENU */


.logo {
  height: 5%;
  width: 5%;
}

nav#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

nav#menu .menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--white);
  cursor: pointer;
}

nav#menu ul {
  display: flex;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#menu ul li a {
  position: relative;
  color: var(--peru);
  font-weight: bold;
  transition: color 0.8s ease;
  padding-bottom: 5px;
}

nav#menu ul li a:hover {
  color: var(--black);
}

/* START */


.start {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.start video {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.start-text {
  color: var(--white);
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 900px;
  mix-blend-mode: exclusion;
}

.start h1 {
  font-size: 28vh;
}


/* APARTADOS */


.apartados {
  width: 80%;
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px 0;
}

.apartados-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.apartado-grid {
  margin: 10px;
  position: relative;
  text-align: center;
  border-radius: 10px;
}

.apartado-box img {
  width: 100%;
  height: 28em;
  object-fit: cover; 
  border-radius: 10px;
}

.image-over h3 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin: 0;
  padding: 5px 10px;
  font-size: 22px;
  color: var(--white);
  z-index: 2;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.image-over {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #000000 95%);
  color: var(--white);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: left;
  font-size: 16px;
  transition: height 0.5s;
}

.apartado-box:hover .overlay {
  height: 50%;
}

.apartado-box:hover h3 {
  transform: translateY(-200px);
}

.ver {
  display: inline-block;
  padding: 5px 15px;
  margin: 10px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  border: var(--peru) 3px solid;
  border-radius: 15px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
  align-self: flex-start;
}

.ver:hover {
  transform: translateY(-5px);
  background-color: var(--peru);
  border: var(--peru) 3px solid;
}


/* INFO */


.info {
  width: 60%;
  max-width: 1200px;
  margin: 50px auto;
}

.info-text {
  text-align: center;
}

.info span {
  font-family: merienda, cursive;
  color: var(--peru);
  font-size: 36px;
  margin: 3px;
}

.img-cont {
  position: relative;
  width: 100%;
}

.img-cont img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.info-text figure {
  width: 100%;
  text-align: center;
}

.back-black {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  border-radius: 0px 30px 30px 0px;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.back-black h3 {
  font-size: 25px;
   margin: 15px;
  text-align: center;
  color: var(--peru);
}

.back-black p {
  font-size: 18px;
  line-height: 1.5;
  color: white;
  width: auto;
  margin: 15px;
  text-align: left;
}


/* ACTIVIDADES */


.actividad {
  width: 80%;
  max-width: 1200px;
  margin: 7em auto;
  padding: 50px auto;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 15px 15px 0 0;
}

.card img:hover {
  transform: scale(1.08);
}

.card {
  background-color: var(--peru);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-text {
  color: var(--white);
  padding: 10px;
}

.card-text h3 {
  margin-bottom: 15px;
}


/* VIAJES */


.viajes {
  width: 60%;
  max-width: 1200px;
  margin: 80px auto;
}

.boletos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boletos figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.flip-card {
  width: 70%;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.front-side, .back-side {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20px;
}

.back-side {
  transform: rotateY(180deg);
}

.img-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  position: relative;
}

.img-grid img {
  width: 90%;
  height: 90%;
  object-fit:contain;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
}

.front-side p {
  position: absolute;
  text-align: left;
  bottom: 16%;
  right: 8%;
  margin: 20px;
  padding-left: 450px;
  color: var(--black);
  font-size: 2.5vh;
  transition: 0.3s ease;
}

.back-side .btn-boleto {
  position: absolute;
  bottom: 30%;
  right: 71%;
  padding: 10px 25px;
  background-color: var(--peru);
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-family: 'Merienda', cursive;
  cursor: pointer;
  font-size: 3vh;
  transition: 0.3s ease;
}

.back-side .btn-boleto:hover {
  transform: scale(1.07);
  background-color: var(--black);
}


/* HOSPEDAJE */


.Hospedaje {
  width: 60%;
  max-width: 1200px;
  margin: 50px auto;
}


/* CONTACT */


/* PARALLAX */

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("MEDIA/IMG/Peru.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -10;
  opacity: 8%;
}