@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --peru: #c8102E;

  --white: #fff;

  --black: #000;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
}

h3, h4, h5, h6, li, button {
  font-family: 'merienda', cursive;
}

li {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
  color: var(--black);
  max-width: 1200px;
}


/* BODY */


body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* MENU */


.logo {
  height: 5%;
  width: 5%;
}

nav#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

nav#menu .menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--white);
  cursor: pointer;
}

nav#menu ul {
  display: flex;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#menu ul li a {
  position: relative;
  color: var(--peru);
  font-weight: bold;
  transition: color 0.8s ease;
  padding-bottom: 5px;
}

nav#menu ul li a:hover {
  color: var(--black);
}

nav#menu a img {
  height: 50px;
  width: auto;
}


/* START */


.start {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.start img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.start-text {
  display: flex;
  color: var(--white);
  z-index: 1;
  display: flex;
  text-align: left;
  align-items: center;
  max-width: 900px;
  mix-blend-mode: exclusion;
}

.start h1 {
  font-size: 25vh;
}
