@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --peru: #c8102E;

  --white: #fff;

  --black: #000;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
}

h3, h4, h5, h6, li, button {
  font-family: 'merienda', cursive;
}

li {
  font-size: 1rem;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
  color: var(--black);
  max-width: 1200px;
}


/* BODY */


body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* MENU */


.logo {
  height: 5%;
  width: 5%;
}

nav#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

nav#menu .menu-toggle {
  display: none;
  font-size: 2em;
  color: var(--white);
  cursor: pointer;
}

nav#menu ul {
  display: flex;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#menu ul li a {
  position: relative;
  color: var(--peru);
  font-weight: bold;
  transition: color 0.8s ease;
  padding-bottom: 5px;
}

nav#menu ul li a:hover {
  color: var(--black);
}

nav#menu a img {
  height: 7vh;
  width: auto;
}


/* START */


.start {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.start img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.start-text {
  display: flex;
  color: var(--white);
  z-index: 1;
  display: flex;
  text-align: left;
  align-items: center;
  max-width: 900px;
  mix-blend-mode: exclusion;
}

.start h1 {
  font-size: 25vh;
}


/* CÓMO LLEGAR */


.ubi {
  width: 90%;
  max-width: 1200px;
  margin: 6em auto;
  margin-bottom: 5em;
  cursor: pointer;
  position: relative;
}

.ubi-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.ubi-image {
  width: 100%;
  max-width: 35em;
  display: flex;
}

.ubi-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.541);
  margin-bottom: 1.5em;
  transition: filter 0.3s ease;
}

.texto {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex: 1;
  width: 100%;
}

.texto-columna {
  flex: 1;
  padding: 1em;
}

.texto h3 {
  color: var(--peru);
  font-size: 1.7em;
  margin-bottom: 0.3em;
}

.texto p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 6em 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.overlay h3 {
  color: white;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ubi-image:hover .overlay {
  opacity: 1;
}

.ubi-image:hover .overlay h3 {
  opacity: 1;
  transform: translateY(0);
}

.ubi-image img:hover {
  filter: blur(1px) brightness(0.8);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(3px);
}

.modal-contenido {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80vh;
  border-radius: 20px;
  box-shadow: 0 0 30px var(--Ghost);
  animation: aparecer 0.3s ease-in-out;
}

@keyframes aparecer {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


/* PERSONAS */


.personas {
  width: 60%;
  max-width: 1200px;
  margin: 2.5em auto;
  margin-bottom: 2.5em;
  margin-bottom: 8em;
}


/* CLIMA */


.Clima {
  width: 60%;
  max-width: 1200px;
  margin: 2.5em auto;
  margin-bottom: 2.5em;
  margin-bottom: 8em;
}

#chartclima {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}


/* RECOMENDACIONES */


.recomendaciones {
  width: 45%;
  max-width: 1200px;
  margin: 2.5em auto;
  margin-bottom: 2.5em;
  margin-bottom: 8em;
}

.carousel {
  overflow-x: auto;
  display: flex;
  gap: 1em;
  width: 100%;
  anchor-name: --flechas;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right) {
  content: '➜';
  border: none;
  background-color: var(--peru);
  font-size: 2.4em;
  color: var(--white);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: .1em;
  position: fixed;
  position-anchor: --flechas;
  position-area: right center;
  translate: 45%;
}

.carousel::scroll-button(left) {
  content: '➜';
  rotate: 180deg;
  border: none;
  background-color: var(--peru);
  font-size: 2.4em;
  color: var(--white);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: .1em;
  position: fixed;
  position-anchor: --flechas;
  position-area: left center;
  translate: -50%;
}

.carousel::scroll-button(left):disabled,
.carousel::scroll-button(right):disabled {
  opacity: 60%;
  cursor: none;
}

.card-caro {
  flex: 0 0 42em;
  scroll-snap-align: start;
}

.card-caro img {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

.card-caro figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.text-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.881));
  color: var(--white);
  border-radius: 0 0 20px 20px;
}

.carousel h2 {
  text-align: left;
  font-size: 32px;
  position: relative;
  color: var(--white);
}

.carousel p {
  text-align: left;
  font-size: 3.5vh;
  position: relative;
  color: var(--white);
}

/* FOOTER */


.footer {
  background-color: var(--peru);
  color: var(--white);
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: var(--white);
}

.text-logo {
  display: block;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.text-logo h4 {
  font-size: 1.5em;
}

.text-logo:hover {
  transform: scale(1.07);
}

.footer-logo img {
  width: 7.5em;
  height: auto;
}

.footer-logo {
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
}

.footer-info {
  text-align: center;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--white);
}

.footer-info ul li {
  margin-bottom: 8px;
  font-size: 14px;
  display: block;
  transition: transform 0.3s ease;
}

.footer-info ul li:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.footer-info p {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer a:link,
.footer a:visited {
  color: var(--white);
  text-decoration: none;
}

.footer a:hover {
  color: var(--white);
  transition: 0.3s ease;
}

.social-icons i {
  font-size: 18px;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.2);
}

.copy {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}


/* PARALLAX */


.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("MEDIA/IMG/Peru.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -10;
  opacity: 8%;
}

